version: '3'
services:
    sheephouse-backend:
        deploy:
          resources:
            limits:
              cpus: '1'
              memory: 1024M
            reservations:
              cpus: '0.5'
              memory: 128M
        restart: always
        build: ./backend
        container_name: sheephouse-backend
        ports:
            - 3333:3333
        command: npm start

    sheephouse-frontend:
        deploy:
          resources:
            limits:
              cpus: '2'
              memory: 1024M
            reservations:
              cpus: '0.5'
              memory: 512M    
        restart: always
        build: ./frontend
        container_name: sheephouse-frontend
        ports:
            - 3000:3000
        links:
            - sheephouse-backend
        command: npm start