<h2> Olá {{ name }}</h2>
<p>
Seu agendamento foi aprovado com sucesso!
</p>
<p>
<a href="{{ resetPasswordUrl }}" target="_blank">Clique aqui para visualizar seu agendamento</a>
</p>
<p>
Caso não tenha sido você quem fez a solicitação, favor descartar o e-mail.
</p>
<p>
<strong>Sheephouse</strong>
</p>

